<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Noah's Toolbar</Name><AddInID>{89e2e7f5-4bce-4c58-af29-3a910fb63db8}</AddInID><Description>Whatever I want</Description><Version>0.1</Version><Image /><Author>Noah McDougall</Author><Company>Noah's</Company><Date>09/24/2016</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="NoahsTool_addin.py" namespace="NoahsTool_addin"><ArcMap>
    <Commands>
        <Button caption="RandomButton" category="Noah's Toolbar" class="ButtonClass1" id="NoahsTool_addin.button1" image="Images\CoordinateSystem16.png" message="Press me" tip="This button does nothing"><Help heading="No help for you">Sorry</Help></Button>
        <ComboBox caption="Google Search Box" category="Noah's Toolbar" class="GoogleSearchComboBox" id="NoahsTool_addin.combobox1" itemSizeString="WWWWWW" message="Enter an address to search." rows="4" sizeString="WWWWWW" tip="Enter an address and it will search for XY coordinate from Google."><Help heading="" /></ComboBox>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Noah's Toolbar" category="Noah's Toolbar" id="NoahsTool_addin.toolbar" showInitially="true"><Items><Button refID="NoahsTool_addin.button1" /><ComboBox refID="NoahsTool_addin.combobox1" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>